body{
    margin: auto;
    font-family: 'Nunito Sans', sans-serif;
    max-width: 1024px;
    width: 100%;
}

#hero{
    background-image: url(images/hero.jpg);
    background-position: center top;
    background-size: cover;
    height: 800px;
    display: block;
    padding-left: 80px;
    padding-right: 50px;
}

.hero_heder{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.hero_navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.hero_navigation_item{
    margin: 10px;
}

#hero_telephone{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#hero_telephone_icons{
    margin-right: 10px;
}

#hero_title{
    display: block;
    font-size: 60px;
    font-weight: 600;
    text-align: start;
    width: 500px;
    height: 150px;
    padding-top: 100px;
    padding-bottom: 30px;
    padding-left: 0px;  
}

#hero_text{
    display: block;
    font-size: 20px;
    font-weight: 200;
    width: 400px;
    height: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0px;
}

.button_large{
    background-color: var(--orange-color);
    border-radius: 8px;
    border:none;
    color: white;
    font-size: 20px;
    padding: 20px;
}

:root{
    --orange-color: #f97316;
}

.button_large:hover{
    background-color: #ea580c;
}

#information_title{
    display: block;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;  
}

.benifits{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 30px;
}

.benifit_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 180px;
    background-color: #d6d3d13d;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}

.benifit_item_icons{
    width: 50px;
    font-size: 25px;
    background-color: var(--orange-color);
    color: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.benifit_item_title{
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 15px;
}

.benifit_item_content{
    display: block;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    line-height: 20px;
}

.about_us{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    margin-bottom: 50px;
}

#about_us_title{
    font-size: 25px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about_us_text{
    font-size: 16px;
    font-weight: 300;
    margin: 20px 0px 20px 0px;
    line-height: 20px;
}

.about_us_img{
    max-width: 500px;
    padding-top: 50px;
    margin-left: 10px;
}

.free_lesson{
    display: block;
    text-align: center;
    line-height: 50px;
    background-color: #ffedd5;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.free_lesson_title{
    font-size: 35px;
    font-weight: 600;
}

.free_lesson_text{
    font-size: 18px;
    font-weight: 300;
}

.free_lesson_form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#free_lesson_input{
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #d6d3d1;
    outline: inherit;
    height: 65px;
    font-size: 20px;
    color: #57534ec0;
}

#reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafaf9;
    padding-top: 80px;
    padding-bottom: 60px;
}

.reviews_title{
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.reviews_people{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #44403c80;
    width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 600px;
}

#reviews_people_name{
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

#reviews_people_text{
    font-size: 16px;
    font-weight: 200px;
    color: #44403cfa;
    line-height: 20px;
}

#for_abonents{
    padding-top: 100px;
    margin-bottom: 100px;
}

#for_abonents_title{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.for_abonents_prices{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 500px;
    height: 300px;
    margin: 20px;
    padding: 30px 15px 20px 15px;
    border: 1px solid #d6d3d1;
    border-radius: 10px;
}

.price_detals{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    margin-bottom: 20px;
}

.price_title{
    color: #f97316;
    font-size: 18px;
    margin-bottom: 20px;
}

.price_lesson{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.price_detal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.check_icon{
    color:#65a30d;
    margin: 5px;
}

.price_detal_text{
    color: #78716c;
    font-size: 14px; 
}

.button_small{
    background-color:#ffedd5;
    border-radius: 8px;
    border:none;
    color: #f97316;
    font-size: 16px;
    padding: 10px 50px 10px 50px;
}

.button_small:hover{
    background-color: #fed7aa;
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #d6d3d19a;
    padding: 50px 20px 50px 20px;
    color: #57534eb7;
}

#phone{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#phone_icons{
    margin-right: 10px;
}

.social_icons{
    font-size: 23px;
    margin: 5px;
}

.social_icons:hover{
    color: black;
}