body {
    font-family: 'Nunito Sans', sans-serif; 
}

.hero_conteiner {
    background-image: url(images/hero.jpg);
    background-position: center top;
    background-size: cover;
    height: 800px;
    position: relative; 
}

.hero_overlay {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

.hero {     
    margin: auto;
    max-width: 1024px;
    width: 100%;
    box-sizing: border-box;
}

.hero_heder { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
}


.hero_navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
}

.hero_navigation_item {
    margin: 10px;
}

.hero_telephone {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero_telephone_icons {
    margin-right: 10px;
}

.hero_title {
    display: block;
    font-size: 60px;
    font-weight: 600;
    text-align: start;
    max-width: 50%;
    padding: 100px 0px 30px;  
}

.hero_text {
    display: block;
    font-size: 20px;
    font-weight: 200;
    line-height: 20px;
    max-width: 40%;
    padding: 50px 0px;
}

.button_large {
    background-color: var(--orange-color);
    border-radius: 8px;
    border:none;
    color: white;
    font-size: 20px;
    padding: 20px;
}

:root {
    --orange-color: #f97316;
}

.button_large:hover {
    background-color: #ea580c;
}

.information {
    margin: auto;
    max-width: 1024px;
    width: 100%;
}

.information_title {
    display: block;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    padding: 100px 0px 50px; 
}

.benifits {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
}

.benifit_item {
    display: flex;
    flex-direction: column;
    align-items: center;   
    width: 30%;
    flex-grow: 1;
    background-color: #d6d3d13d;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}

.benifit_item_icons {
    width: 50px;
    font-size: 25px;
    background-color: var(--orange-color);
    color: white;
    border-radius: 10px;
    padding: 10px 0px;
    text-align: center;
}

.benifit_item_title {
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 15px;
}

.benifit_item_content {
    display: block;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    line-height: 20px;
}

.about_us {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto 50px auto;
}

.about_us_title {
    font-size: 25px;
    font-weight: 600;
    margin: 50px 0px;
}

.about_us_text {
    font-size: 16px;
    font-weight: 300;
    margin: 20px 0px;
    line-height: 20px;
}

.about_us_img {
    max-width: 500px;
    padding-top: 50px;
    margin-left: 10px;
    box-sizing: border-box;
}

.free_lesson_conteiner {
    background-color: #ffedd5;
}

.free_lesson {
    display: block;
    text-align: center;
    line-height: 50px;
    padding: 100px 0px;
    margin: auto;
    max-width: 1024px;
    width: 100%;
    box-sizing: border-box;
}

.free_lesson_title {
    font-size: 35px;
    font-weight: 600;
}

.free_lesson_text {
    font-size: 18px;
    font-weight: 300;
}

.free_lesson_form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

#free_lesson_input {
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #d6d3d1;
    height: 65px;
    font-size: 20px;
    color: #57534ec0;
}

.reviews_conteiner {
    background-color: #fafaf9;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px 60px;
    margin: auto;
    max-width: 1024px;
    width: 100%;
    box-sizing: border-box;
}

.reviews_title {
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.reviews_people {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #44403c80;
    width: 60%;
    padding: 20px 0px;
}

.reviews_people_name {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0px;
}

.reviews_people_text {
    font-size: 16px;
    font-weight: 200px;
    color: #44403cfa;
    line-height: 20px;
}

.for_abonents {
    padding-top: 100px;
    margin-bottom: 100px;
    margin: auto;
    max-width: 1024px;
    width: 100%;
}

.for_abonents_title {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.for_abonents_prices {
    display:flex;
    justify-content: center;
    margin: 30px 0px;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: calc(100% / 3 - 20px);
    margin: 20px;
    padding: 30px 15px 20px;
    border: 1px solid #d6d3d1;
    border-radius: 10px;
    box-sizing: border-box;
}

.price_detals {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    margin-bottom: 20px;
}

.price_title {
    color: #f97316;
    font-size: 18px;
    margin-bottom: 20px;
}

.price_lesson {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.price_detal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.check_icon {
    color:#65a30d;
    margin: 5px;
}

.price_detal_text {
    color: #78716c;
    font-size: 14px; 
}

.button_small {
    background-color:#ffedd5;
    border-radius: 8px;
    border:none;
    color: #f97316;
    font-size: 16px;
    padding: 10px 50px;
}

.button_small:hover {
    background-color: #fed7aa;
}

footer {
    background-color: #d6d3d19a;
    height: 150px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: #57534eb7;
    margin: auto;
    max-width: 1024px;
    width: 100%;
    box-sizing: border-box;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.phone_icons {
    margin-right: 10px;
}

.social_icons {
    font-size: 23px;
    margin: 5px;
}

.social_icons:hover {
    color: black;
}

@media (max-width: 600px) {

    .hero_overlay {
        background: rgba(255, 255, 255, 0.6);
    }

    .hero {
        padding: 0px 15px;
    }

    .hero_heder {
        flex-wrap: wrap;
    }

    .hero_title {
        font-size: 40px;
        padding-top: 50px;
    }

    .information {
        padding: 0px 15px;
    }

    .benifits {
        flex-direction: column;
        align-items: center;
    }

    .benifit_item {
        width: 80%;
    }

    .about_us {
        flex-direction: column;
        align-items: center;
    }

    .about_us_img {
        padding-top: 0px;
        margin-left: 0px;
        width: 100%;
    }

    .free_lesson {
        padding: 30px 15px 50px;
        line-height: 30px;
    }

    .free_lesson_title {
        font-size: 30px;
        padding: 10px 0px 30px;
    }

    .free_lesson_text {
        line-height: 20px;
        margin-bottom: 20px;
    }

    .free_lesson_form {
        flex-direction: column;
        margin-top: 0px;
    }

    #free_lesson_input {
       height: 50px;
       width: 95%;
       margin: 10px 0px 5px;
    }

    .button_large {
        margin-top: 10px;
    }

    .reviews {
        padding: 50px 15px 50px;
        margin-top: 70px;
    }

    .reviews_people {
        width: 100%;
    }

    .for_abonents {
        padding: 0px 15px;
    }

    .for_abonents_prices {
        flex-direction: column;
        align-items: center;
    }

    .price {
        width: 80%;
    }

    .footer {
        flex-direction: column;
        padding: 30px 0px;
    }











}